.content{
  width: 680px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  .at-article__h2{
    text-align: center;
    margin-bottom: 80px;
  }
  .btn{
    margin-top: 50px;
  }
}
